body.gateway {
  background-color: #34495e;
  h2 {
    padding-bottom: 1em;
  }

  form.form-inline {
    margin: 1em auto 2em auto;
    input.input-lg {
      display: inline-block;
      border: 2px solid #ccc;
      width: auto;
    }
    input#email {
      display: block;
      width: 100%;
    }
    button {
      margin-bottom: 1em;
      width: 100%;
    }
  }
  p {
    text-align: left;
  }
  .form-description {
    margin: 2em 0em;
    p {
      font-size: 2em;
      font-weight: 100;
      line-height: 1.2em;
    }
  }
  .kalabox-pro-brief {
    padding-bottom: 4em;
    .pro-image {
      img {
       height: 200px;
       display: block;
      }
    }
    .pro-features {
      ul {
        margin: auto;
        display: block;
        width: 400px;
      }
      .btn {
        margin: 1em auto;
        display: block;
        width: 400px;
      }
    }
  }
}

body.download {
  text-align: center;
  #downloads {
    padding-top: 50px;
  }
  a.btn-primary:active, a.btn-primary:visited, a.btn-primary {
    &.purple {
      background-color: #8739C4;
    }
    background-color: #d9534f;
  }
  h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }
  .alt-downloads {
    li {
      list-style: none;
    }
    margin: 5px 0px 0px 0px;
    padding: 0px;
    a:hover {
      text-decoration: none;
      font-weight: bold;
    }
  }
  .os-desc {
    font-size: .9em;
  }
  .fa.primary {
    font-size: 6em;
    text-align: center;
    display: block;
  }
  .install-steps {
    img {
      margin-bottom: 5px;
      height: 90px;
    }
    h2 {
      padding-bottom: 0em;
      margin: 1.5em 0em .5em 0em;
    }
  }
  .circle {
    border-radius: 50%;
    width: 100px;
    background: linear-gradient(to right,#3CD3AD,#4CB8C4);
    height: 100px;
    color: white;
    font-size: 5em;
    text-align: center;
    vertical-align: middle;
    margin: 0em auto;
    font-weight: 200;
  }
}