section {
  width: 100%;
  background-color: #fff;
  padding-top: 80px;
  h1 {
    margin: 0;
    padding-bottom: 10px;
    display: block;
    clear: both;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    font-weight: 300;
    color: #222;
  }
  h2 {
    margin: 0;
    padding-bottom: 70px;
    display: block;
    clear: both;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: 300;
    color: #222;
  }
}

.more-features {
  margin-top: 110px;
  padding-top: 80px;
  padding-bottom: 110px;
  background-color: rgb(211, 211, 220);
}

.features-item {
  margin-bottom: 40px;
  h4 {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 15px;
    color: #0386c9 !important;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
  }
  p {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }
}

.features-right, .features-left {
  padding-top: 70px;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.iconbox {
  background: transparent url('../img/icon_borders.png') no-repeat 0 0;
  height: 270px;
  margin: 0 auto 40px auto;
  position: relative;
  width: 270px;
}

.icn {
  width: 44px;
  float: left;
  margin-right: 1em;
}

.icntitle {
  font-size: 2em;
  font-weight: 300;
  line-height: 38px;
  text-align: left;
  padding-top: 0px;
}

.icnp {
  text-align: left;
  line-height: 1.6;
  font-size: 1.25em;
  font-weight: 300;
}

.ss-left img {
  left: -100%;
  position: relative;
}

.ss-right {}

.screenshot-description {
  margin-top: 25%;
}

.dark, #newsletter.dark {
  background: #4CB8C4;
  background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);
  background: linear-gradient(to right, #3CD3AD, #4CB8C4);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 50px 0px;
  color: white;
}

div.dark a {
  color: white;
}

.icons_left, .icons_right {
  float: left;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #0386c9;
  font-size: 22px;
  font-weight: 300;
  border: 1px solid #0386c9;
  background-color: #fff;
  position: relative;
  -webkit-border-radius: 28px 28px;
  -moz-border-radius: 28px 28px;
  border-radius: 28px 28px;
  transition: all .50s ease-in-out;
  -moz-transition: all .50s ease-in-out;
  -webkit-transition: all .50s ease-in-out;
}

.icons_left {
  float: left;
  margin: 10px 25px 40px 0;
}

.icons_right {
  float: right;
  margin: 10px 0 40px 25px;
}

.features {
  .screenshot {
    img {
      width: 100%;
      margin: auto;
      vertical-align: middle;
      max-height: 20em;
    }
  }
  .screenshot-description {
    margin-top: 0em;
  }
  .row.screenshot-left, .row.screenshot-right {
    margin-bottom: 8em;
  }
}