form {
  margin-top: 2em;
  margin-bottom: 1em;
  input, input.input-lg {
    width: 400px;
    height: 52px;
    border-radius: 0;
    border: 0;
    color: $gray-light;
    vertical-align: middle;
    margin: 1em 0em 0em 0em;
  }
  button {
    height: 3em;
    margin: 1em 0em;
  }
}