body.kalabox-pro {
  #intro, #header {
    background: #7b4397; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #7b4397 , #dc2430); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #7b4397 , #dc2430); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    h2 {
      margin-bottom: 2em;
      padding: 0em;
    }
    h3 {
      color: white;
      font-weight: 100;
    }
  }
  .screenshot {
    img {
      width: 100%;
      margin: auto;
      vertical-align: middle;
      height: 20em;
    }
  }
  .screenshot-description {
    margin-top: 0em;
  }
  .row.screenshot-left, .row.screenshot-right {
    margin-bottom: 8em;
  }
}