$brand-primary: #3CD3AD;

@import '../bower_components/font-awesome/scss/font-awesome.scss';
@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'forms.scss';
@import 'header.scss';
@import 'intro.scss';
@import 'features.scss';
@import 'testimonials.scss';
@import 'newsletter.scss';
@import 'responsive.scss';
@import 'download.scss';
@import 'misc.scss';
@import 'support.scss';
@import 'sponsor.scss';
@import 'pricing.scss';
@import 'kalabox-pro.scss';


@import url("http://fonts.googleapis.com/css?family=Pacifico");
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic");

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

section {
  h1, .primary-header {
    font-size: 3em;
    margin: 0em 0em .5em 0em;
    padding: 0em;
    line-height: 1.5em;
  }
}

li {
  list-style-type: square;
  font-size: 1.5em;
  font-weight: 100;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

button {
  color: #333;
  background-color: #C0C0C0;
}
button:hover {
  color: #333;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

section:last-of-type {
  padding-bottom: 4em;
}