ul {
  list-style: none;
}

/* ========== DOWNLOAD ========== */

#download {
  padding: 80px 40px;
  h3 {
    padding-bottom: 30px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 300;
  }
}

img.pantheon {
  position: relative;
  top: 40px;
}

/* ========== FOOTER ========== */

footer {
  background: #34495e;
  color: #fff;
  padding: 70px 0;
  text-align: center;
  p {
    font-size: 15px;
    line-height: 20px;
  }
}

.footer-heart {
  color: #C0392B;
  margin: 3px;
}