#newsletter {
  width: 100%;
  z-index: 100;
  padding-top: 110px;
  padding-bottom: 110px;
  background: #0386c9;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 42px;
    line-height: 48px;
    font-weight: 300;
  }
}