#newsletter {
  width: 100%;
  z-index: 100;
  padding-top: 110px;
  padding-bottom: 110px;
  background: #0386c9;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 42px;
    line-height: 48px;
    font-weight: 300;
  }
  .mc-field-group {
    margin: 10px;
    input {
      padding: 10px;
      margin-bottom: 10px;
      width: 300px;
    }
  }
  #mce-success-response {
    width: 350px;
    font-size: 1.25em;
    margin: 15px auto;
  }

  div.container #mc_embed_signup div.mce_inline_error {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    background-color: #d9534f;
  }
}