@media screen and (max-width: 500px) {
  header {
    padding-top: 20px;
  }
  #intro {
    padding-bottom: 50px;
    h1 {
      font-size: 18px;
      line-height: 22px;
    }
    h2 {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .intro-well {
    padding-top: 0;
  }
  #features {
    padding-top: 50px;
  }
  .more-features {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .features-right, .features-left {
    padding-top: 0;
  }
  #newsletter {
    padding-top: 50px;
    padding-bottom: 50px;
    form {
      margin-top: 20px;
      input {
        width: auto;
      }
    }
    h3 {
      font-size: 18px;
      line-height: 28px;
    }
  }
  #screenshots {
    padding-top: 50px;
    padding-bottom: 0px;
    h2 {
      padding-bottom: 30px;
    }
  }
  .social-links {
    padding-left: 0;
  }
  .screenshot img {
    width: 100%;
    margin: auto;
  }
  .ss-left img {
    display: none;
  }
}

@media only screen and (device-width: 990px) {
  .intro-well {
    padding-top: 50px;
  }
  .features-right, .features-left {
    padding-top: 10px;
  }
  .screenshot img {
    width: 100%;
    margin: auto;
  }
}

@media all and (width: 768px) {
  .container {
    max-width: 730px !important;
  }
  #intro {
    padding-bottom: 100px;
  }
  .intro-well {
    padding-top: 20px;
  }
  #intro {
    h1 {
      font-size: 48px;
      line-height: 48px;
    }
    h2 {
      font-size: 18px;
      line-height: 22px;
    }
  }
  #iphone, .features-right, .features-left {
    padding-top: 30px;
  }
  .more-features {
    padding-top: 15px;
    padding-bottom: 50px;
  }
  #newsletter {
    padding-top: 50px;
    padding-bottom: 40px;
    h3 {
      font-size: 30px;
      line-height: 38px;
    }
  }
  #screenshots {
    padding-bottom: 30px;
  }
  .icnp {
    padding-bottom: 20px;
  }
  .screenshot img {
    width: inherit;
  }
}

@media only screen and (max-width: 340px) {
  #newsletter form button {
    margin-top: 10px;
  }
}

@media only screen and (width: 340px) {}