#screenshots {
  padding-top: 80px;
  padding-bottom: 80px;
  h1 {
    margin: 0;
    padding-bottom: 10px;
    display: block;
    clear: both;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    font-weight: 300;
    color: #222;
  }
  h2 {
    margin: 0;
    padding-bottom: 70px;
    display: block;
    clear: both;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: 300;
    color: #222;
  }
  .thumbnail {
    padding: 0;
    border-radius: 0;
  }
}