.support-pricing {
  .alert {
    text-align: center;
  }
}

section#pricing, section#buy-pro, section#support {
  padding-top: 6em;
  .plain {
    background: #f2f2f2;
    color: #333;
  }
  .pricing {
    /* width: 262px; */
    margin: 2em 0em;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    font-size: 1em;
    font-weight: 100;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    ul {
      text-align: center;
      margin: 3em 0em;
      padding: 0;
      height: 250px;
      li {
        list-style: none;
        border-top: 1px solid #ccc;
        line-height: 1.25em;
        padding: 1em 0em;
        &:last-child {
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }
  .price-attrs {
    background-color: #E9005C;
    color: #fff;
    padding: 2em;
  }
  .price-features {
    padding: 0em 2em 3em 2em;
    height: 370px;
  }
  .purple {
    background-color: #8739C4;
  }
  .pink {
    background-color: #A4366B;
  }
  .red {
    background-color: #C62C48;
  }
  .proposal {
    background: #fff;
    color: #de3627;
  }
  .price-number {
    font-size: 2em;
  }
  .price-plan {
    font-size: 2em;
    text-transform: uppercase;
  }
  h2 {
    margin-top: 0;
    margin-right: 0;
    padding-left: 20px;
  }
  .button-wrapper {
    height: 100%;
    button {
      vertical-align: bottom;
    }
  }
  .price-cta {
    text-align: center;
    a {
      display: inline-block;
    }
  }
}

section#buy-pro .price-features {
  height: inherit;
}

#emailModal {
  text-align: center;
  input {
    margin-bottom: 10px;
  }
}