<!DOCTYPE html>
<html lang="en"> 
  {% include 'head.twig' %}
  <body class="download">
    <section id="newsletter" class="dark">
      <h1>Alpha Downloads</h1>
      <p>Platform: {{platform}}</p>
    </section>
    {% include 'footer.twig' %}
  </body>
</html>