<!DOCTYPE html>
<html lang="en"> 
  {% include 'head.twig' %}
  <body class="download">
    {% include 'header.twig' %}
    <section id="downloads">
      <div class="container wow animated fadeInDown">
        <h1>Begin your journey to faster local development...</h1>
        <div class="row">
          <div class="col-xs-12">
            <a class="btn btn-primary" href="http://gui.kalabox.io/kalabox.tar.gz">
              <h3>Download Kalabox</h3>
              <div class="os-desc">
                <i class="fa fa-apple"></i> <span>Mac OS X 10.10+</span>
              </div>
            </a>
            <ul class="alt-downloads">
              <li>
                <i class="fa fa-windows"></i> <span>Windows 7+ Coming Soon</span>
              </li>
              <li>
                <i class="fa fa-linux"></i> <span>Debian/Ubuntu Coming Soon</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="row install-steps">
          <div class="col-xs-4">
            <img src="img/download.png">
            <h2>1. Download</h2>
            <p>Pick the correct version of Kalabox above. Uncompress the download.</p>
          </div>
          <div class="col-xs-4">
            <img src="img/trash.png">
            <h2>2. Uninstall Existing Kalabox</h2>
            <p>If you've installed Kalabox CLI or helped test earlier versions of the new Kalabox, open terminal and run "sudo ./uninstall.sh" on the uninstall file.</p>

          </div>
          <div class="col-xs-4">
            <img src="img/install.png">
            <h2>3. Run Installer</h2>
            <p>Run the installer. Once complete, Kalabox will be in your normal applications directory.</p>
          </div>
        </div>
      </div>
    </section>
    {% include 'footer.twig' %}
  </body>
</html>