<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="footer-logo" src="/img/kalabox-white-name.png">
      </div>
      <div class="col-md-2">
        <h4>Resources</h2>
        <ul>
          <li><a href="/download">Downloads</a></li>
          <li><a href="http://support.kalabox.io/support/solutions">Knowledge Base</a></li>
          <li><a href="http://github.com/kalabox/kalabox">Source Code</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>Services</h3>
        <ul>
          <li><a href="http://www.thinktandem.io/contact">Professional Support</a></li>
          <li><a href="http://www.thinktandem.io/contact">Kalabox Customization</a></li>
          <li><a href="http://www.thinktandem.io/contact">Whitelabeling</a></li>
          <li><a href="http://www.thinktandem.io/contact">DevOps Consulting</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4>Sponsors</h3>
        <ul>
          <li><a href="https://www.kickstarter.com/projects/kalabox/kalabox-advanced-web-tools-for-the-people">Kickstarter Backers</a></li>
          <li><a href="http://www.pantheon.io"><img src="/img/pantheon-logo-white.png" class="img-responsive pantheon" alt="Pantheon Logo"></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright row">
      <small>Copyright © 2017 Kalabox Inc.</small>
    </div>
  </div>
</footer>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="/js/main.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74237404-1', 'auto');
  ga('send', 'pageview');

</script>
