<div id="header-cta">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>
          Announcing <a href="/kalabox-pro" class="brand-name">Kalabox Pro</a>, power tools for backend, frontend, and devops professionals. <a href="/kalabox-pro">Learn More ></a>
        </p>
      </div>
    </div>
  </div>
</div>
<section id="header" class="dark">
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div id="main-nav" class="navbar-collapse">          
          <a href="/">
            <img src="/img/kalabox-horizontal-logo.png" class="logo" alt="Kalabox Logo">
          </a>
          <ul class="nav-links social-links nav navbar-nav navbar-right">
            <a href="https://twitter.com/kalaboxme"><li class="fa fa-twitter"></li></a>
            <a href="https://www.github.com/kalabox/kalabox"><li class="fa fa-github"></li></a>
            <a href="https://www.linkedin.com/company/kalabox"><li class="fa fa-linkedin"></li></a>
          </ul>
          <ul class="nav-links site-links nav navbar-nav navbar-right">
            <li class="first li-under"><a href="/">Intro</a></li>
            <li class="li-under"><a href="/download">Download</a></li>
            <li class="li-under"><a href="http://support.kalabox.io/support/solutions">Docs</a></li>
            <li class="li-under"><a href="/support">Support</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</section>