<section id="header" class="dark">
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
          <div id="main-nav" class="navbar-collapse">          
            <ul class="social-links">
              <a href="https://twitter.com/kalaboxme"><li class="fa fa-twitter"></li></a>
              <a href="https://www.github.com/kalabox/kalabox"><li class="fa fa-github"></li></a>
              <a href="https://www.linkedin.com/company/kalabox"><li class="fa fa-linkedin"></li></a>
            </ul>
          </div><!-- /navbar-collapse -->
          <a href="/">
            <img src="img/kalabox-white-name.png" class="center logo" alt="Kalabox Logo">
          </a>
        </div><!-- /container -->
        
      </div>
    </nav>
  </header>
</section>