<!DOCTYPE html>
<html lang="en">
  {% include 'head.twig' %}
  <body>
  {% include 'intro.twig' %}
  {% include 'features.twig' %}
  {% include 'newsletter.twig' %}
  {% include 'sponsors.twig' %}
  {% include 'footer.twig' %}
  </body>
</html>