<section id="intro">
  <div class="container">
    <div class="intro-well">
      <div class="col-md-12">
        <img src="img/kalabox-white-name.png" class="center logo" alt="Kalabox Logo">
        <h1>One click local development for Drupal and WordPress.</h1>
        <h2>Kalabox is the easiest way to develop websites. Get rid of the drudgery and have more fun!</h2>
        <a class="btn btn-primary" href="https://github.com/kalabox/kalabox/releases">Get Kalabox 2.0</a>
        <a class="btn btn-primary btn-tooltip" data-balloon-visible data-balloon="Recommended for power users!!!" data-balloon-pos="up" href="http://github.com/kalabox/lando">Get Lando CLI (Kalabox 3.0 Beta)</a>
      </div>
    </div>
  </div><!-- /container -->

</section>
