<section id="intro">
  <div class="container">
    <div class="intro-well wow animated bounceIn">
      <div class="col-md-12">
        <img src="img/kalabox-white-name.png" class="center logo" alt="Kalabox Logo">
        <h1>Faster local development for Drupal, Wordpress, and beyond.</h1>
        <h2>Kalabox is the easiest way to develop websites and get them live. Get rid of the drudgery and have more fun!</h2>
        <a class="btn btn-primary" href="download.html">Get Kalabox</a>
      </div>
    </div>
  </div><!-- /container -->

</section>