<section id="intro">
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
          <div id="main-nav" class="navbar-collapse">          
            <ul class="social-links">
              <a href="https://twitter.com/kalaboxme"><li class="fa fa-twitter"></li></a>
              <a href="https://www.github.com/kalabox/kalabox"><li class="fa fa-github"></li></a>
              <a href="https://www.linkedin.com/company/kalabox"><li class="fa fa-linkedin"></li></a>
            </ul>
          </div><!-- /navbar-collapse -->
          <img src="img/kalabox-white-name.png" class="center logo" alt="Kalabox Logo">
        </div><!-- /container -->
        
      </div>
    </nav>
  </header>
  <div class="container">
    <div class="intro-well wow animated bounceIn">
      <div class="col-md-12">
        <h1>Faster local development for Drupal, Wordpress, and beyond.</h1>
        <h2>Kalabox is the easiest way to develop websites and get them live. Get rid of the drudgery and have more fun!</h2>
        <a class="btn btn-primary" href="download.html">Get Kalabox</a>
      </div>
    </div>
  </div><!-- /container -->

</section>