<section id="intro">
  <div class="container">
    <div class="intro-well wow animated bounceIn">
      <div class="col-lg-6 col-md-6">
        <h1>Faster local development for Drupal, Wordpress, and beyond.</h1>
      </div>
      <div class="col-lg-6 col-md-6">
        <img src="/img/kalabox-white.png" class="logo" alt="Kalabox Logo">
      </div>
      <div class="col-xs-12">
        <a class="btn btn-primary" href="/download">Get Kalabox</a>
      </div>
    </div>
  </div><!-- /container -->

</section>