<!DOCTYPE html>
<html lang="en"> 
  {% include 'head.twig' %}
  <body class="download">
    <section id="newsletter" class="dark">
      <h1>Invalid link.</h1>
      <p>
        Looks like the download link you've used doesn't have a valid email address
        associated with it. Please resubmit the <a href="/download">download form</a>.
      </p>
    </section>
    {% include 'footer.twig' %}
  </body>
</html>