<section id="buy-pro" class="blue-grey darken-3">
  <div class="section pt-section" data-name="Pricing">
    <div class="container">
      <div class="row">
        <div class="divider4"></div>
        <div class="col-xs-12 col-md-6">
          <div class="pricing plain z-depth-1 hoverable">
            <div class="price-attrs purple">
              <div class="row">
                <div class="col-xs-6">
                  <div class="price-plan">Kalabox</div>
                </div>
                <div class="col-xs-6">
                  <div class="price-number">Free</div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">The fastest way to start developing web applications.</div>
                <div class="col-xs-6 price-descr">Open Source</div>
              </div>
            </div>
            <div class="price-features">
              <ul>
                <li>All your basic tools</li>
                <li>Nginx-powered dev environments</li>
                <li>Community support</li>
                <li>Open-source and free</li>
              </ul>
              <button type="button" class="waves-effect waves-light btn blue-grey darken-2 center">
                <a href="/download">Download</a>
              </button>
            </div>
          </div>
          <div class="divider4"></div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="pricing plain z-depth-1 hoverable">
            <div class="price-attrs red">
              <div class="row">
                <div class="col-xs-6">
                  <div class="price-plan">Kalabox Pro</div>
                </div>
                <div class="col-xs-6">
                  <div class="price-number">$89</div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">Powerful additions to Kalabox for professional developers.</div>
                <div class="col-xs-6 price-descr">per Year</div>
              </div>
            </div>
            <div class="price-features">
              <ul>
                <li>Extra tools for debugging</li>
                <li>Customize dev environments</li>
                <li>Extra support</li>
                <li>Help sponsor Kalabox innovation</li>
              </ul>
              <button type="button" class="waves-effect waves-light btn blue-grey darken-2 center">
                <a href="/kalabox-pro">Learn More</a>
              </button>
            </div>
          </div>
          <div class="divider4"></div>
        </div>
      </div>
    </div>
  </div>
</section>
