<section id="intro">
  <div class="container">
    <div class="intro-well wow animated bounceIn">
      <div class="col-md-12">
        <img src="img/kalabox-white-name.png" class="center logo" alt="Kalabox Logo">
        <h1>Powerful tools for professional developers.</h1>
        <h2>Look deeper inside of your Wordpress and Drupal apps with professional development and diagnostic tools.</h2>
        <a class="btn btn-primary" href="#buy-pro">Get Kalabox Pro</a>
      </div>
    </div>
  </div><!-- /container -->

</section>