<section id="buy-pro" class="blue-grey darken-3">
  <div class="section pt-section" data-name="Pricing">
    <div class="container">
      <div class="row">
        <div class="divider4"></div>
        <div class="col-xs-12 col-md-6">
          <div class="pricing plain z-depth-1 hoverable">
            <div class="price-attrs purple">
              <div class="row">
                <div class="col-xs-6">
                  <div class="price-plan">Monthly</div>
                </div>
                <div class="col-xs-6">
                  <div class="price-number">$9</div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">Unlimited access to Kalabox Pro features and support upon release.</div>
                <div class="col-xs-6 price-descr">
                  <p>Reg. $12 per month</p>
                  <button id="proMonth" type="button" class="waves-effect waves-light btn blue-grey darken-2 center">
                    <a href="/kalabox-pro/register/month">
                     Reserve
                    </a>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="pricing plain z-depth-1 hoverable">
            <div class="price-attrs red">
              <div class="row">
                <div class="col-xs-6">
                  <div class="price-plan">Yearly</div>
                </div>
                <div class="col-xs-6">
                  <div class="price-number">$89</div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">Unlimited access to Kalabox Pro features and access to support forum.</div>
                <div class="col-xs-6 price-descr">
                  <p>Reg. $119 per year</p>
                  <button id="proYear" type="button" class="waves-effect waves-light btn blue-grey darken-2 center">
                    <a href="/kalabox-pro/register/year">
                     Reserve
                    </a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pricing plain col-xs-12 col-md-6">
          <div class="price-features">
            <ul>
              <li>Access to new features</li>
              <li>Exclusive help documentation</li>
              <li>Support for premium features</li>
              <li>Help sponsor Kalabox innovation</li>
            </ul>
          </div>
        </div>
        <div class="divider4"></div>
      </div>
    </div>
  </div>
  {% include 'pro-modal.twig' %}
</section>
