<section id="buy-pro" class="blue-grey darken-3">
  <div class="section pt-section" data-name="Pricing">
    <div class="container">
      <div class="row">
        <div class="divider4"></div>
        <div class="col-xs-12 col-md-6">
          <div class="pricing plain z-depth-1 hoverable">
            <div class="price-attrs">
              <div class="price-number blue-grey-text text-darken-3">$89</div>
              <div class="price-plan"><strong>Per Year</strong></div>
              <div class="price-descr"><strong>Reg. $119</strong> per month</div>
            </div>
            <button id="proYear" type="button" class="waves-effect waves-light btn blue-grey darken-2 center">
              Reserve
            </button>
          </div>
          <div class="divider4"></div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="pricing plain z-depth-1 hoverable">
            <div class="price-attrs">
              <div class="price-number blue-grey-text text-darken-3">$9</div>
              <div class="price-plan"><strong>Per Month</strong></div>
              <div class="price-descr"><strong>Reg. $12</strong> per year</div>
            </div>
            <button id="proMonth" type="button" class="waves-effect waves-light btn blue-grey darken-2 center">
              Reserve
            </button>
          </div>
          <div class="divider4"></div>
        </div>
      </div>
    </div>
  </div>
</section>
