<section id="buy-pro" class="blue-grey darken-3">
  <div class="section pt-section" data-name="Pricing">
    <div class="container">
      <h2 class="primary-header">Want extra power? Check-out Lando!</h2>
      <div class="row">
        <div class="divider4"></div>
        <div class="col-xs-12 col-md-6">
          <div class="pricing plain z-depth-1 hoverable">
            <div class="price-attrs purple">
              <div class="row">
                <div class="col-xs-6">
                  <div class="price-plan">Kalabox</div>
                </div>
                <div class="col-xs-6">
                  <div class="price-number">Free</div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">The easiest way to start developing web applications.</div>
                <div class="col-xs-6 price-descr">Open Source</div>
              </div>
            </div>
            <div class="price-features">
              <ul>
                <li>All your basic tools</li>
                <li>Nginx-powered dev environments</li>
                <li>Community support</li>
                <li>Open-source and free</li>
              </ul>
              <a href="/download">
                <button type="button" class="waves-effect waves-light btn blue-grey darken-2 center">
                  Download
                </button>
              </a>
            </div>
          </div>
          <div class="divider4"></div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="pricing plain z-depth-1 hoverable">
            <div class="price-attrs red">
              <div class="row">
                <div class="col-xs-6">
                  <div class="price-plan">Lando Beta</div>
                </div>
                <div class="col-xs-6">
                  <div class="price-number">Free</div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">The most powerful local dev in the galaxy.</div>
                <div class="col-xs-6 price-descr">Open Source</div>
              </div>
            </div>
            <div class="price-features">
              <ul>
                <li>Drupal, WordPress, Laravel, MEAN and more</li>
                <li>Use containerized tooling</li>
                <li>Automate common workflow steps</li>
                <li>Faster and better than ever</li>
              </ul>
              <a href="http://github.com/kalabox/lando">
                <button type="button" class="waves-effect waves-light btn blue-grey darken-2 center">
                  Try It!
                </button>
              </a>
            </div>
          </div>
          <div class="divider4"></div>
        </div>
      </div>
    </div>
  </div>
</section>
