<section id="features" class="container">
  <div class="row screenshot-right">
    <div class="col-md-6 wow fadeInLeft animated" data-wow-delay="0.1s">
      <div class="screenshot-description">
        <p class="icntitle">For Frontend Developers</p>
        <p class="icnp">Tired of waiting for browser reloads? Frustrated when other team members can't setup your Gulp workflow and commit CSS? So are we.</p>
        <ul>
          <li>Reloads your browser when changes are saved.</li>
          <li>Standardized front-end toolsets.</li>
          <li>Visual diffing tools for seeing style regressions.</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 wow fadeInLeft animated screenshot" data-wow-delay="0.1s">
      <img src="img/frontend.svg"></img>
    </div>
  </div>
  <div class="row screenshot-left">
    <div class="col-md-6 wow fadeInLeft animated screenshot" data-wow-delay="0.1s">
      <img src="img/backend.svg"></img>
    </div>
    <div class="col-md-6 wow fadeInLeft animated" data-wow-delay="0.2s">
      <div class="screenshot-description">
        <p class="icntitle">For Backend Developers</p>
        <p class="icnp">Debug and tune your application with tools that give you deeper insights into its performance.</p>
        <ul>
          <li>Local mailserver for testing emails.</li>
          <li>PHPMyAdmin for browsing your database.</li>
          <li>Performance profiling tools.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row screenshot-right">
    <div class="col-md-6 wow fadeInLeft animated" data-wow-delay="0.3s">
      <div class="screenshot-description">
        <p class="icntitle">For DevOps</p>
        <p class="icnp">Customize tooling to mirror production sites. Pick your server, database version, and additional services like Solr and Elasticsearch.</p>
        <ul>
          <li>"Large Site" default config for resource-intensive applications.</li>
          <li>Configuration options for Apache, Nginx, Memcache, Redis, and more.</li>
          <li>Open source framework allows extension and customization.</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 wow fadeInLeft animated screenshot" data-wow-delay="0.1s">
      <img src="img/devops.svg"></img>
    </div>
  </div>
</section>