<section id="intro">
  <div class="container">
    <div class="intro-well">
      <div class="col-md-12">
        <h1>Customize Kalabox to onboard faster.</h1>
        <h2>Whether you're a digital agency, hosting provider, or open-source project maintainer, Tandem can customize Kalabox to solve your problems faster and more efficiently.</h2>
        <div class="button-wrapper">
          <a href="http://www.thinktandem.io/contact"><button type="button" class="btn btn-primary">Let's Talk</button></a>
        </div>
      </div>
    </div>
  </div><!-- /container -->

</section>