<section id="intro">
  <div class="container">
    <div class="intro-well">
      <div class="col-md-12">
        <h1>Solve Development Problems by Customizing Kalabox</h1>
        <h2>Integrate Kalabox with your platform's services. Build new features for your development team. Work with the Kalabox Team to solve problems faster and more efficiently.</h2>
        <a class="btn btn-primary" href="/contact">Let's Talk</a>
      </div>
    </div>
  </div><!-- /container -->

</section>