<!DOCTYPE html>
<html lang="en">
  {% include 'head.twig' %}
  <body class="sponsor">
  {% include 'header.twig' %}
  {% include 'sponsor-intro.twig' %}
  {% if msg %}
    <div class="alert alert-success" role="alert">{{ msg }}</div>
  {% endif %}
  {% include 'sponsor-types.twig' %}
  {% include 'sponsor-casestudy.twig' %}
  {% include 'sponsor-footercta.twig' %}
  {% include 'footer.twig' %}
  </body>
</html>