<section id="intro">
  <div class="container">
    <div class="intro-well">
      <div class="col-md-12">
        <h1>Customize Kalabox to onboard faster.</h1>
        <h2>Whether you're a digital agency, hosting provider, or open-source project maintainer, we can customize Kalabox to solve your problems faster and more efficiently.</h2>

        <div class="button-wrapper">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#emailModal" data-title="Get Kalabox customizations" data-action="Customize Kalabox">Let's Talk</button>
        </div>
      </div>
    </div>
  </div><!-- /container -->

</section>