<section id="sponsor-footercta">
  <div class="container">
    <div class="intro-well">
      <div class="col-md-12">
        <h2>Work with us to make your team members, users, and contributors happier.</h2>
        <div class="button-wrapper">
          <a href="http://www.thinktandem.io/contact"><button type="button" class="btn btn-primary">Let's Talk</button></a>
        </div>
      </div>
    </div>
  </div><!-- /container -->

</section>