<section id="services" class="features blue-grey darken-3">
  <h2>Solutions</h2>
  <div class="section pt-section" data-name="Pricing">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="screenshot-description">
            <h3 class="icntitle">Give Your Team New Kalabox Features</h3>
            <ul>
              <li>Solve a workflow issue for your team.</li>
              <li>Develop faster, deploy more frequently. Be happier.</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 screenshot">
          <img src="/img/backend.svg"></img>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 screenshot">
          <img src="/img/backend.svg"></img>
        </div>
        <div class="col-md-6">
          <div class="screenshot-description">
            <h3 class="icntitle">Onboard Your Platform's Users Faster with a Kalabox Integration</h3>
            <ul>
              <li>Attract more users.</li>
              <li>Increase onboarding speed and user retention.</li>
              <li>Powerful tool for trainings, great enterprise feature.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="screenshot-description">
            <h3 class="icntitle">Expand Your Application Framework's Userbase</h3>
            <ul>
              <li>Push-button installation of your framework.</li>
              <li>Convenient tool for contribution sprints and training.</li>
              <li>Accessible to a wide-range of users.</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 screenshot">
          <img src="/img/backend.svg"></img>
        </div>
      </div>
    </div>
  </div>
  {% include 'pro-modal.twig' %}
</section>
