<section id="case-study" class="features container">
  <div class="row screenshot-right">
    <div class="col-md-6 wow fadeInLeft animated" data-wow-delay="0.1s">
      <div class="">
        <p class="icntitle">Case Study: Pantheon Website Management Platform</p>
        <p class="icnp">Pantheon's users needed a local development solution. By sponsoring an integration via Kalabox, Pantheon was able to give them an invaluable feature for a fraction of the cost of in-house development and maintenance.</p>
        <ul>
          <li>Easier than in-house development.</li>
          <li>Deep integration and continued support.</li>
          <li>Trusted expertise.</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 wow fadeInLeft animated screenshot" data-wow-delay="0.1s">
      <img src="/img/pantheon-logo.png"></img>
    </div>
  </div>
</section>