<section id="sponsors">
  <div class="container wow fadeIn animated">
    <div class="row">

      <div class="col-md-4">
        <h3>Kalabox and Lando are open-source projects developed by <a href="http://www.thinktandem.io">Tandem</a>, a software strategy company that gets your stuff done.</h3>
        <h3>It is also made posssible with generous contributions from <a href="http://kalamuna.com">Kalamuna</a>, <a href="http://pantheon.io">Pantheon</a>, and countless other individuals.</h3>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <a class="tandem-link" href="http://www.thinktandem.io"><img src="img/tandem-pink.png" class="img-responsive tandem" alt="Tandem Logo"></a>
          </div>
          <div class="col-md-12">
            <img src="img/pantheon-logo.png" class="img-responsive pantheon" alt="Pantheon Logo">
          </div>
        </div>
      </div>
    </div>
  </div><!-- /container -->
</section>
