<section id="sponsor" class="dark">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Interested in hearing what else Tandem can do for your org? </h3>
      <a href="https://www.thinktandem.io/contact/">
        <button type="button" class="btn btn-primary center">
          Get in touch!
        </button>
      </a>
    </div>
  </div>
</section>
