<section id="intro">
  <div class="container">
    <div class="intro-well">
      <div class="col-md-12">
        <h1>Customize Kalabox to onboard faster.</h1>
        <h2>Whether you're a digital agency, hosting provider, or open-source project maintainer, we can customize Kalabox to solve your problems faster and more efficiently.</h2>
        <a class="btn btn-primary" href="/contact">Let's Talk</a>
      </div>
    </div>
  </div><!-- /container -->

</section>