<section id="services" class="features blue-grey darken-3 container">
  <h2 class="primary-header">Solutions to the "Onboarding Problem"</h2>
  <p>Onboarding can take hours, even days. If you run a development agency, you know the pain of paying contractors for this time. If you’re a hosting provider, you know that inefficient development workflows can lose you sales and hurt user retention. Working with the Kalabox Team, you can create the perfect local development workflow at a fraction of the cost of developing an in-house solution.</p>
  <div class="section pt-section" data-name="Pricing">
    <div class="row">
      <div class="col-md-6">
        <div class="screenshot-description">
          <h4>For Digital Agencies</h4>
          <h3 class="icntitle">Faster Project Onboarding</h3>
          <ul>
            <li>Customize Kalabox to give your team ALL their tools, instantly.</li>
            <li>Solve a workflow issue for your team.</li>
            <li>Develop faster, deploy more frequently. Be happier.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 screenshot">
        <img src="/img/agency-onboard.svg"></img>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 screenshot">
        <img src="/img/platform-onboard.svg"></img>
      </div>
      <div class="col-md-6">
        <div class="screenshot-description">
          <h4>For Hosting Providers</h4>
          <h3 class="icntitle">Onboard Your Platform's Users Faster with a Kalabox Integration</h3>
          <ul>
            <li>Allow users to download their sites from your platform.</li>
            <li>Increase onboarding speed and user retention.</li>
            <li>Powerful tool for trainings, great enterprise feature.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="screenshot-description">
          <h4>For Project Maintainers</h4>
          <h3 class="icntitle">Get More Users and Contributors For Your Application Framework</h3>
          <ul>
            <li>Push-button installation of your framework.</li>
            <li>Convenient tool for contribution sprints and training.</li>
            <li>Accessible to a wide-range of users.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 screenshot">
        <img src="/img/open-source.svg"></img>
      </div>
    </div>
  </div>
  {% include 'pro-modal.twig' %}
</section>
