<section id="sponsor-footercta">
  <div class="container">
    <div class="intro-well">
      <div class="col-md-12">
        <h2>Work with us to make your team members, users, and contributors happier.</h2>
        <a class="btn btn-primary" href="/contact">Let's Talk</a>
      </div>
    </div>
  </div><!-- /container -->

</section>