<!DOCTYPE html>
<html lang="en"> 
  {% include 'head.twig' %}
  <body class="download">
    {% include 'header.twig' %}
    <section id="pricing" class="blue-grey darken-3">
      <div class="section pt-section" data-name="Pricing">
        <div class="container">
          <div class="row">

            <h3 class="light center white-text">Professional Support</h3>
            <p class="center light white-text">Get dedicated support to make sure your local development workflow is as efficient as possible.</p>
            <div class="divider4"></div>

            <div class="col-xs-12 col-md-4">
              <div class="pricing plain z-depth-1 hoverable">
                <div class="price-attrs">
                  <div class="price-number blue-grey-text text-darken-3">01</div>
                  <div class="price-plan"><strong>Individuals</strong></div>
                  <div class="price-descr"><strong>$25+</strong> per month</div>
                  <div class="price-conclusion">Up Your Game</div>
                </div>

                <ul>
                  <li>Submit tickets to Kalabox team</li>
                  <li>Receive updates faster</li>
                  <li>Workflow enhancements saving hours</li>
                </ul>

                <button type="button" class="waves-effect waves-light btn blue-grey darken-2 center">Sign Up</button>

              </div>
              <div class="divider4"></div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="pricing plain z-depth-1 hoverable">
                <div class="price-attrs">
                  <div class="price-number blue-grey-text text-darken-3">02</div>
                  <div class="price-plan"><strong>Teams</strong></div>
                  <div class="price-descr"><strong>$125+</strong> per month</div>
                  <div class="price-conclusion">Onboard in minutes, not days</div>
                </div>

                <ul>
                  <li>Faster responses for busy teams</li>
                  <li>Specialized team tooling</li>
                  <li>Team onboarding and training</li>
                </ul>

                <button type="button" class="waves-effect waves-light btn blue-grey darken-2 center">Sign Up</button>

              </div>
              <div class="divider4"></div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="pricing plain z-depth-2 hoverable">
                <div class="price-attrs">
                  <div class="price-number">03</div>
                  <div class="price-plan"><strong>Enterprise</strong></div>
                  <div class="price-descr"><strong>Let's talk!</strong></div>
                  <div class="price-conclusion">Automate for success!</div>
                </div>
                <ul>
                  <li>Custom hosting integrations</li>
                  <li>Emergency responses</li>
                  <li>Real-time support</li>
                </ul>

                <button type="button" class="waves-effect waves-light btn red center">Sign Up</button>

              </div>
              <div class="divider4"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'footer.twig' %}
  </body>
</html>
